name: update-html-dist-branch
run-name: Update the html-dist branch when the master branch changes
on:
  push:
    branches:
    - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node_version }}
      uses: actions/setup-node@v4
      with:
        node-version: 10.6

    - name: npm install and build
      run: |
        npm install
        cp -r src dist
        mv dist/regalia.html dist/index.html
        mv dist/Rags_32512.ico dist/regalia/
        npx babel src/regalia/js/Cheat.js --out-file dist/regalia/js/Cheat.js --presets=es2015 --plugins=transform-react-jsx
        npx babel src/regalia/js/components/CheatMenuComponents.js --out-file dist/regalia/js/components/CheatMenuComponents.js --presets=es2015 --plugins=transform-react-jsx
        cp node_modules/react/umd/react.production.min.js dist/regalia/vendor/
        cp node_modules/react-dom/umd/react-dom.production.min.js dist/regalia/vendor/
        cp node_modules/moment/min/moment.min.js dist/regalia/vendor/
        cp node_modules/deep-diff/releases/deep-diff-0.3.8.min.js dist/regalia/vendor/

    - name: Update branch
      run: |
        find dist -type f -exec sha1sum {} + | sort

        commit_sha=$(git rev-parse HEAD)
        git fetch origin dist
        git checkout dist --
        cd dist
        mv ../.git ./
        git add .
        git status

        if git diff --cached --quiet; then
          echo "No changes to commit"
        else
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git commit -m "Automated update from $commit_sha"
          git push origin dist
        fi
