name: update-html-dist-branch
run-name: Update the html-dist branch when the master branch changes
on:
  push:
    branches:
    - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      #with:
        #ref: df2dab45c1e899c40be83e7b075982212323a42c
    - name: Use Node.js ${{ matrix.node_version }}
      uses: actions/setup-node@v4
      with:
        node-version: 10.6

    - name: npm install and build
      run: |
        npm install
        npm uninstall babel-cli babel-preset-es2015 babel-plugin-transform-react-jsx
        npm install --save-dev @babel/cli @babel/core @babel/preset-env @babel/preset-react
        npx babel src --out-dir dist --presets=@babel/preset-env,@babel/preset-react

    - name: Update branch
      run: |
        sha1sum node_modules/react/cjs/react.production.min.js
        sha1sum node_modules/react/umd/react.production.min.js
        sha1sum node_modules/react-dom/cjs/react-dom.production.min.js
        sha1sum node_modules/react-dom/umd/react-dom.production.min.js
        sha1sum node_modules/moment/min/moment.min.js
        sha1sum node_modules/deep-diff/releases/deep-diff-0.3.8.min.js
        find dist
