name: update-html-dist-branch
run-name: Update the html-dist branch when the master branch changes
on:
  push:
    branches:
    - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node_version }}
      uses: actions/setup-node@v4
      with:
        node-version: 10.6

    - name: npm install and build
      run: |
        npm install
        npx babel src --out-dir dist --presets=@babel/preset-env,@babel/preset-react
